<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contacte los creadores del tutorial Ruby on Rails
	acerca de la Aplicacion de Ejemplo dirijase a
	<a href="http://railstutorial.org/contact">Contact page</a>
</p>
