<% provide(:title, 'Help') %>

     <h1>Help</h1>
     <p>Obtenga ayuda (help) del tutorial de Ruby on Rails
	  en <a href="http://railstutorial.org/help">Pagina de Ayuda o help de Tutorial de Rails</a>
	  Para obtener ayuda sobre esta aplicación de ejemplo, vea el
	  <a href="http://railstutorial.org/book">Libro Tutorial de Rails</a>
     </p>
  