<% provide(:title, 'Home') %>
     <h1>Aplicacion de Ejemplo</h1>
     <p>Esta es la Pagina principal para
	   <a href="http://railstutorial.org/">Tutorial de Ruby on Rails</a>
	  Aplicacion de Ejemplo
  </p>
 